<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwxd.utils">
    <!--读sd卡-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <!--写sd卡-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <!--安装卸载文件系统-->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        android:required="true" />
    <!--读取媒体信息-->
    <uses-permission
        android:name="android.permission.ACCESS_MEDIA_LOCATION"
        android:required="true" />
    <application>
        <activity
            android:name=".photo.ImageLookActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".photo.PhotoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".CropActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>