<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wwxd.toolkit">
    <!--读sd卡-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <!--写sd卡-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_MEDIA_LOCATION"
        android:required="true" />
    <!--安装卸载文件系统-->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        android:required="true" />
    <!--相机-->
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />

    <application
        android:name="com.wwxd.toolkit.app.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="${icon}"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="false"
        android:roundIcon="${roundIcon}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="name,icon,roundIcon,theme,allowBackup">
        <!--android6.0以上更新apk权限-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wwxd.toolkit.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.wwxd.toolkit.activity.LoadingActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoadingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wwxd.toolkit.activity.MainActivity"
            android:launchMode="singleTask" />
    </application>


</manifest>